<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Вход</title>
<link rel="stylesheet" type="text/css" href="../../../css/style.css"></link>
<link rel="stylesheet" type="text/css" href="../../../css/font-awesome.css"></link>
</head>
<body>
<div class="container">
   <form method="POST" action="index.php">
   <div class="form-input">
    <input type="text" id="username" name="login" placeholder= "Введите логин">
   </div>
   <div class="form-input">
    <input type ="password" id="password" name="password" placeholder="Введите пароль">
   </div>
  <input type="submit" name="log_in" value="ВОЙТИ" class="btn-login">
  <a class="btn-register" href="root/registration/index.php">ЗАРЕГЕСТРИРОВАТСЯ</a>
  </form>
 </div>
</body>
</html>